@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");

$active-color: #5718ff;
$loan-color: #f55f44;
$savings-color: #ff3366;
$user-color: #df18ff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

.user-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 26px;
  width: 100%;
  margin-bottom: 40px;

  &__item {
    width: 100%;
    max-width: 240px;
    height: 160px;
    border: 1px solid #213f7d0f;
    background: #ffffff;
    padding: 30px;
    border-radius: 4px;
    box-shadow: 3px 5px 20px 0px #0000000a;
  }

  &__image {
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 100%;
    margin-bottom: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    width: 20px;
    height: 20px;
  }

  &__title {
    width: 100%;
    height: 16px;
    font-family: "Work Sans", sans-serif;
    color: #545f7d;
    margin-bottom: 12px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
  }

  &__amount {
    width: 100%;
    height: 28px;
    font-family: "Work Sans", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    text-transform: uppercase;
    color: #213f7d;
  }
}


/* Small mobile devices */
@media (max-width: 480px) {
  .user-card{
     display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 26px;
  width: 100%;
  margin-bottom: 40px;


  &__item{
    width: 100%;
    max-width: 500px;
    // height: 160px;
    margin: 0 auto;
  }

  &__image{
    width: 45px;
    height: 45px;
    // padding: 10px;
    // border-radius: 100%;
    // margin-bottom: 14px;
    // display: flex;
    // align-items: center;
    // justify-content: center;
  }

    &__icon {
    width: 40px;
    // height: 20px;
  }

  &__title {
     font-size: 18px;
  }
  }


}

/* Larger mobile devices / tablets */
@media (max-width: 768px) {}

/* Desktop */
@media (min-width: 769px) {}