* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.layout {
  width: 100%;
  max-width: 1440px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  &__header {
    width: 100%;
  }

  &__body {
    display: flex;
    flex: 1;
    overflow: hidden;
  }

  &__sidebar {
    width: 283px;
    flex-shrink: 0;
    overflow-y: auto;
  }

  &__content {
    flex: 1;
    overflow-y: auto;
    background-color: #f5f5f5;
  }
}