.layout {
  width: 100%;
  max-width: 1440px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  &__header {
    width: 100%;
    z-index: 100;
  }

  &__body {
    display: flex;
    flex: 1;
  }

  &__sidebar {
    width: 283px;
    flex-shrink: 0;
    overflow-y: auto;
  }

  &__content {
    flex: 1;
    overflow-y: auto;
    background-color: #f5f5f5;
  }
}


@media (max-width: 768px) {
  .layout {
    &__body {
      display: block;
      overflow: visible; 
    }

    &__sidebar {
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      z-index: 2000;

      transform: translateX(-100%);
      transition: transform 0.3s ease;
    }

    &__sidebar.open {
      transform: translateX(0);
    }

    &__content {
      height: calc(100vh - 50px); 
      overflow-y: auto;
    }
  }
}
