@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");

$primary-color: #213f7d;
$accent-color: #39cdcc;
$secondary-color: #545f7d;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

.user-details {
  width: 1037px;
  height: auto;
  margin: 0 auto;
  &__back {
    margin-top: 20px;
    width: 152px;
    height: 30px;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
    text-decoration: none;
    // background-color: red;
  }
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 30px;
    font-size: 26.72px;
    color: $secondary-color;
  }
  &__text {
    width: 109px;
    height: 19px;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0;
    font-weight: 400;
    font-family: "Work Sans" sans-serif;
    color: #545f7d;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }
  &__title {
    width: 143px;
    height: 28px;
  }
  &__text1 {
    font-size: 24px;
    font-family: "Work Sans" sans-serif;
    line-height: 1;
    letter-spacing: 0;
    font-weight: 500;
    color: $primary-color;
  }
  &__button {
    width: 30%;
    display: flex;
    gap: 30px;
    justify-content: space-between;
  }
  &__button--blacklist {
    width: 170px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #e4033b;
    font-size: "14px";
    font-family: "Work Sans" sans-serif;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0;
    color: #e4033b;
    background-color: transparent;
    cursor: pointer;
    &:hover {
      background-color: rgb(253, 232, 232);
    }
  }
  &__button--activate {
    width: 170px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid $accent-color;
    font-size: "14px";
    font-family: "Work Sans" sans-serif;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0;
    color: $accent-color;
    background-color: transparent;
    cursor: pointer;
    &:hover {
      background-color: rgb(205, 225, 225);
    }
  }
  &__summary {
    width: 1037px;
    height: 210px;
    border-radius: 4px;
    border: 1px solid #213f7d0f;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 5px 20px 0px #0000000a;
    padding: 10px 30px;
    margin-top: 30px;
  }
  &__pro {
    width: 613px;
    height: 100px;
    border: 0px solid $secondary-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }
  &__pro1 {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 30%;

    // background: red;
  }
  &__image {
    width: 100px;
    // height: 100px;
    border-radius: 50%;
    background-color: gray;
    padding: 20px;
  }
  &__image1 {
    font-size: 27.92px;
    height: 29.3px;
    color: $primary-color;
    // border: 3px solid $primary-color;
    display: flex;
    align-items: center;
  }
  &__name1 {
    width: 140px;
    height: 50px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  &__name {
    font-family: "Work Sans" sans-serif;
    font-weight: 500;
    width: 140px;
    font-size: 22px;
    line-height: 1;
    letter-spacing: 0;
    color: $primary-color;
  }
  &__id {
    width: 91px;
    height: 16px;
    font-size: 14px;
    font-weight: 400;
    font-family: "Work Sans" sans-serif;
    color: $primary-color;
  }
  &__tier {
    width: 73px;
    height: 42px;
    padding: 10px;
  }
  &__tier-label {
    font-family: "Work Sans" sans-serif;
    font-weight: 500;
    font-size: 14px;
    width: 73px;
    line-height: 1;
    letter-spacing: 0;
    color: $secondary-color;
  }
  &__tier-value {
    width: 70px;
    display: flex;
    gap: 4px;
  }
  &__tier-star {
    width: 16px;
    height: 16px;
  }
  &__tier-star--active {
    color: #e9b200;
    font-size: 14.08px;
  }

  &__tier-star--inactive {
    color: #e0e0e0;
    font-size: 14.08px;
  }

  &__account {
    width: 160px;
    height: 49px;
  }
  &__balance {
    width: 137px;
    font-family: "Work Sans" sans-serif;
    font-size: 22px;
    line-height: 1;
    letter-spacing: 0;
    color: $primary-color;
    height: 23px;
    font-weight: 500;
  }
  &__account-info {
    font-size: 12px;
    font-weight: 400px;
    line-height: 1;
    letter-spacing: 0;
    color: $primary-color;
    width: 157px;
    height: 14px;
  }
}
